.card::after{
    content: '';
    display: block;
    margin-top: 2px;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: width 1s ease 0.7s;
    align-self: center;
    transform-origin: 0%;
}

.group:hover .card::after{
    width: 100%;
}


