*{
    margin: 0;
    padding: 0;
}

.h1{
    background-color: aqua;
}

.div{
    /* width: 200px;
    height: 200px; */
    background-color: red;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.article{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article > p {
    font-size: 40px;
}

.article:last-child{
    flex-direction: column;
}